<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>React Todo Demo</title>
		<style><%= htmlWebpackPlugin.options.critical %></style>
	</head>
	<body>
		<svg class='hidden'>
			<symbol id='icon-checkmark' viewbox='0 0 78 78'>
				<path d="M78.049,19.015L29.458,67.606c-0.428,0.428-1.121,0.428-1.548,0L0.32,40.015c-0.427-0.426-0.427-1.119,0-1.547l6.704-6.704 c0.428-0.427,1.121-0.427,1.548,0l20.113,20.112l41.113-41.113c0.429-0.427,1.12-0.427,1.548,0l6.703,6.704 C78.477,17.894,78.477,18.586,78.049,19.015z"/>
			</symbol>
			<symbol id='icon-arrow' viewbox='0 0 307 307'>
				<path d="M302.445,80.796l-11.101-11.103c-6.123-6.131-16.074-6.131-22.209,0L153.67,183.707L37.907,67.959 c-6.134-6.13-16.08-6.13-22.209,0L4.597,79.06c-6.129,6.133-6.129,16.067,0,22.201l137.83,137.829 c6.129,6.136,16.067,6.136,22.203,0l137.815-136.096C308.589,96.864,308.589,86.926,302.445,80.796z"/>
			</symbol>
			<symbol id="icon-close" viewBox="0 0 25 25">
				<path d="M 5 19 L 19 5 L 21 7 L 7 21 L 5 19 ZM 7 5 L 21 19 L 19 21 L 5 7 L 7 5 Z"></path>
			</symbol>
		</svg>
		<div id="react-root" class='react-root'>
			<%= htmlWebpackPlugin.options.markup %>
		</div>
		<%= htmlWebpackPlugin.files.js.map(file => `<script src='${file}'></script>`).join('') %>
		<script>window.INITIAL_STATE = <%= htmlWebpackPlugin.options.INITIAL_STATE || '{}' %>;</script>
	</body>
</html>
