.todo-list {
	flex-direction: column;
}

.todo-list__item {
	border-bottom: 1px solid $lightgray-border;
	width: 100%;
}

.todo-list__item-input {
	font-weight: 200;
	font-size: 18px;
}

.todo-list__item-icon__circle {
	border: 1px solid $lightgray-border;
	border-radius: 50%;
	margin: auto;
	height: 30px;
	width: 30px;
}

.icon-checkmark {
	display: none;
	height: 16px;
	width: 16px;
}

.icon-close {
	fill: $close-icon;
}

// Completed styles
.complete {
	
	.todo-list__item-input {
		text-decoration: line-through;
		color: $lightgray-font;
	}
	
	.icon-checkmark {
		fill: $completed-checkmark-icon;
		display: block;
	}
	
}