.todo-status-bar__filters {
	justify-content: center;
	height: 100%;
	width: 100%;
}

.todo-status-bar__filters__button,
.todo-status-bar__clear-completed {
	-webkit-appearance: none;
	color: $darkgray-font;
	padding: 10px 15px;
	margin: auto 15px;
	border: none;
	
	&:active {
		box-shadow: -1px -1px 1px $shadow-background;
		outline: none;
	}
	
	&:hover {
		background: darken(white, 5%);
	}
}

.todo-status-bar__filters__button,
.todo-status-bar__remaining-count,
.todo-status-bar__clear-completed {
	font-size: 12px;
}

.corner-item {
	max-width: 100px;
}

.todo-status-bar__remaining-count {
	margin: auto 0 auto 10px;
	color: $darkgray-font;
	font-size: 12px;
}

.todo-status-bar__clear-completed {
	padding: 3px 5px;
	margin-right: 10px;
	text-align: left;
}