html, body, .react-root {
  position: absolute;
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

*, *:after, *:before {
  -webkit-tap-highlight-color: $transparent-background;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input {
  -webkit-appearance: none;
  font-size: 23px;
  border: none;
  height: 100%;
  width: 100%;
}

input:focus {
  height: 100%;
  width: 100%;
}

input:focus,
button:focus {
  outline: none;
}

// Atomic Classes
.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.shadow {
  box-shadow: 2px 2px 2px $shadow-background;
}

.flex {
  display: flex;
}

.flex-row {
  font-size: 23px;
	display: flex;
  height: 2em;
}

.flex-row * {
  transition: all 0.25s ease;
}
