// Font colors
$lightgray-font: #bbb;
$darkgray-font: #888;

// Backgrounds
$transparent-background: rgba(0, 0, 0, 0);
$shadow-background: rgba(0, 0, 0, 0.25);

// Borders
$lightgray-border: #aaa;
$darkgray-border: #777;

// Icons
$completed-checkmark-icon: #00e5e6;
$close-icon: #ff1744;
