// Import any variables
@import '_variables';

.svg-icon-container {
	min-width: 50px;
	height: 100%;
}

.svg-icon {
	fill: $lightgray-border;
	margin: auto;
	height: 20px;
	width: 20px;
}

// Import Components
@import 'components/TodoList';
