@import '_variables';
@import '_base';


// Define some critical css for the initial load, these don't have their own components
// and are standard html elements
.react-root {
	flex-direction: column;
	display: flex;
}

.todo-app-header {
	margin: 20px auto;
	font-weight: 500;
	font-size: 64px;
}

.todo-notepad {
	box-shadow: 0 2px 4px $shadow-background, 0 15px 50px $shadow-background;
	background-color: #FFF;
	margin: 0 auto;
	width: 550px;
}

.todo-app-footer {
	color: $darkgray-font;
	margin: 20px auto;
	font-size: 11px;
}

// Import component scss
@import 'components/TodoInput';
@import 'components/TodoStatusBar';
